.navbar {
    padding-bottom: 15px;
    padding-top: 15px;
}
.hero {
    background-image: url("images/IMG_7403.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.hero-text {
    text-align: center;
    margin-top: 80px;
}
.sub-hero {
    padding-top: 40px;
}
.sub-hero {
    
}
