.navbar {
    padding-bottom: 15px;
    padding-top: 15px;
}
.hero {
    background-image: url("images/IMG_7403.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.hero-text {
    text-align: center;
    margin-top: 80px;
}
@media (min-width: 768px) {
.sub-hero {
    padding-top: 80px;
    padding-bottom: 80px;
}
.sub-hero h3 {
    padding-top: 200px;
}
}
.sub-hero h3, p {
    text-align: center;
}
.landscape-aspectratio {
    aspect-ratio: 1.0;
    object-fit: cover;
}
.links {
    padding-top: 140px;
}
